{% extends "tuition/base.html" %}
{% block title %} Tutors {%endblock%}

{% block nav %}

<ul>
    <li><a href="/tutors/login/">Tutor Login</a></li>
    <li><a href="/tutors/register_tutor/">Register</a></li>
    {% if user_group = 'Tutor' %}
    <li><a href="{% url tuition.views.tutor_record user.username %}">Tutor Profile</a></li>
    {% endif %}
    <li><a href="/tutors/jobs_for_tutors/">Jobs For Tutors</a></li>
    <li><a href="/tutors/faqs/">FAQs</a></li>
</ul>

{% endblock %}

{% block header %}
        <h2> TUTORS </h2>
{% endblock %}

{% block content %}
<!-- for debug start-->
    

{% endblock %}
	